In [1]:
from datascience import *
import numpy as np

In [2]:
def cut_off_at_100(x):
    """The smaller of x and 100"""
    return min(x, 100)

In [3]:
cut_off_at_100(17)

17

In [4]:
cut_off_at_100(117)

100

In [5]:
cut_off_at_100(100)

100

In [6]:
ages = Table().with_columns(
    'Person', make_array('A', 'B', 'C', 'D', 'E', 'F'),
    'Age', make_array(17, 117, 52, 100, 6, 101)
)
ages

Person | Age
A      | 17
B      | 117
C      | 52
D      | 100
E      | 6
F      | 101

In [7]:
ages.apply(cut_off_at_100,'Age')

array([ 17, 100,  52, 100,   6, 100])

In [8]:
ages.with_column(
    'Cut Off Age', ages.apply(cut_off_at_100, 'Age')
)

Person | Age  | Cut Off Age
A      | 17   | 17
B      | 117  | 100
C      | 52   | 52
D      | 100  | 100
E      | 6    | 6
F      | 101  | 100

In [9]:
cut_off = cut_off_at_100

In [10]:
cut_off

In [11]:
cut_off(102)

100