In [4]:
from datascience import *

In [5]:
report = Table().with_columns('Number of Vegetables', make_array(8, 34, 5), 'Name', make_array('Tomatoes','Rape','Onion'))
report = report.with_columns('Province', make_array('Lusaka','Luapula','Copperbelt'))

In [7]:
report

Number of Vegetables | Name     | Province
8                    | Tomatoes | Lusaka
34                   | Rape     | Luapula
5                    | Onion    | Copperbelt

In [10]:
report.take(0)

Number of Vegetables | Name     | Province
8                    | Tomatoes | Lusaka

In [18]:
report.where('Number of Vegetables', are.above_or_equal_to(8))

Number of Vegetables | Name     | Province
8                    | Tomatoes | Lusaka
34                   | Rape     | Luapula

In [21]:
report.where('Number of Vegetables', are.above_or_equal_to(8)).sort('Province')

Number of Vegetables | Name     | Province
34                   | Rape     | Luapula
8                    | Tomatoes | Lusaka